html, body {
	margin: 0;
	padding: 0;
}
body {
	background: url(../img/bg2.png),url(../img/bg.jpg);
	background-repeat: repeat-x,repeat;
	background-position: bottom center;
	background-size: 60%,auto;
	background-attachment: fixed;
}
h1, h2, h3, h4 {
	margin: 0;
	line-height: normal;
}
p{
	margin: 0;
}
strong{
	font-weight: bold;
}
a {
	color: #000;
	text-decoration: none;
}
*, input, textarea {
	box-sizing: border-box;
	font-size: 1rem;
	font-weight: normal;
	font-family: "Sawarabi Gothic", "sans-serif";
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
}
button{
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
button:focus {
	outline: none;
}
.wrapper {
	max-width: 640px;
	margin: 0 auto;
}
header{
	margin-bottom: .5rem;
	position: relative;
}

header #gear{
	position: absolute;
	right: 8%;
	top: 25%;
	width: 10%;
}
.caption {
	margin-bottom: .3rem;
}
.find, .other {
	overflow: hidden;/*ネガティブマージン*/
}
.category>ul, .class>ul, .other_event {
	justify-content: space-between;
	display: flex;
	margin: 0 -0.1rem .3rem;
}
.category a, .class a, .other_event a {
	display: block;
	margin: 0 0.1rem;
}
.floor_banner, .xmas_banner, .other, .swiper-wrapper {
	margin-bottom: .5rem;
}
.date {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: .5rem;
	z-index: 2;
}
.date img {
	max-width: 250px;
	margin-bottom: .5rem;
	margin-left: .5rem;
}
.list_content {
	position: relative;
	background: rgba(255,255,255,0.80);
	overflow: hidden;
	padding: .5rem .5rem 3rem;
	margin-bottom: .2rem;
}
article.list_content{
	padding: 1rem 1rem 2rem;
	margin-bottom: .5rem;
}

article.list_content img{
	margin-bottom: 1rem;
}

article.list_content #noimg{
	height: auto !important;
	width: auto !important;
}

.schedule{
	background: rgba(255,255,255,0.5);
	padding: 1rem .5rem;
	margin-bottom: .5rem;
}
.list_content .place{
	display: inline;
	height: 1rem;
	width: auto;
	margin-bottom: -.1rem;
	margin-right: .3rem;
	margin-left: .2rem;
}
.booth_list{
	margin-bottom: .5rem;
}
.list_content *{
	color: #362413;
}
.list_content p{
	/*回り込みさせる*/
	clear: both;
	margin-bottom: .3rem;
}
.list_content ul{
	margin-left: 1.5rem;
	margin-bottom: .5rem;
}
.list_content li{
	list-style: circle;
}
.list_content p:first-of-type{
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 0;
}
@media (min-width:426px){
	.list_content p{
		/*回り込みさせない*/
		clear:none;
	}
}
.list_content h3 {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: .5rem;
}
.list_content img{
	width: 100%;
}
.list_content .button{
	position: absolute;
	bottom: .5rem;
	right: .5rem;
	background-color: #fff;
	padding: .2rem .5rem;
	border-left: solid .3rem #55391F;
	box-shadow: 0 2px 2px #82786C;
}
.list_content h2{
	border-left: solid .3rem #55391F;
	padding: .3rem ;
	color: #362413;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 1rem;
}
.content_flex{
	display: flex;
	justify-content: space-between;
}
h2 .class{
	font-size: 1rem;
	font-weight: bold;
}
.list_img {
	float: left;
	width: 30%;
	min-width: 120px;
	padding: 0 .7rem .2rem 0;
}
.list_content time {
	position: absolute;
	font-size: .8rem;
	bottom: .5rem;
	right: .5rem;
}
.link {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: .5rem;
	justify-content: center;
	padding: 0;
}
.link a {
	font-size: .8rem;
	display: block;
	padding: .5rem;
	text-decoration: underline;
}
footer {
	background-color: rgba(255,255,255,0.80);
	text-align: center;
	padding: 1rem .2rem;
	margin-bottom: 4rem;
}
footer small {
	display: block;
	font-size: 0.8rem;
	line-height: 1.2rem
}
/*ナビゲーション*/

#booth, #close {
	display: none;
	background-color: #fff;
}
#booth::before{
	content: "";
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,0.70);
	z-index: -1;
}
nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	z-index: 999;
}
nav .main_nav {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: stretch;
}
nav ul, #close{
	max-width: 640px;
	margin: 0 auto;
}
nav .main_nav li {
		background-color: #291C0B;
	text-align: center;
	display: flex;
	border-right: solid 1px #fff;
	align-items: center;
	justify-content: center;
	width: 100%;
}
nav .main_nav li:last-child {
	border-right: none;
}
nav .main_nav li > * {
	width: 100%;
	padding: .5rem;
	line-height: 2rem;
	font-weight: bold;
	font-size: .7rem;
	font-size: calc(0.6rem + 0.5vw);
	color: #fff;
}
#close {
	padding: .5rem;
	background: #fff;
	text-align: right;
	border-bottom: solid 1px #000;
}
nav .find *{
	margin: 0;
	padding: 0;
}


/*アクセス*/

.access{
	background: rgba(255,255,255,0.80);
	padding-bottom: 1rem;
	margin-bottom: .5rem;
}

.access p{
	padding: .5rem 0;
}

.access span{
	color: #D04A4C;
}

.access_info{
	padding: 1rem;
}

.map{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
	margin-bottom: 1rem;
}

.map iframe{
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

/*archives*/

.archives{
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: rgba(255,255,255,0.80);
	padding: 2rem 1rem;
	margin-bottom: 1rem;
}

.content_flex.archives > div{
	width: 50%;
	padding: .2rem;
	margin-bottom: 1rem;
}

.content_flex.archives img{
	width: 100%;
	max-width: 210px;
	margin: 0 auto .5rem;
	border: solid 1px #eee;
}

.archives p{
	margin-bottom: 1rem;
}

.archives > div p{
	max-width: 210px;
	font-size: .9rem;
	margin: 0 auto;
}

.archives > div p:first-of-type{
	font-size: 1.3rem;
	font-weight: bold;
}

.p_large img,.archives > .p_large p{
	max-width: none;
}

#p_last{
	max-width: none;
}

.about,.floor_map{
	background-color: rgba(255,255,255,0.80);
	margin-bottom: .5rem;
}

.about p{
	padding: 1rem;
}

.floor_img{
	text-align: center;
	padding: 1rem;
	margin-bottom: 1rem;
}

.floor_map h2{
	padding-left: 1rem;
}

.floor_img img{
	width: auto;
	max-width: none;
	height: 600px;
	margin: auto;
}
@media(max-width:630px){
	.floor_img{
		overflow-x: scroll;
	}
	.floor_img img{
		height: 500px;
	}
}

/*share / シェア*/

.share{
	overflow: hidden;
}

.share > div{
	display: flex;
	margin-bottom: .5rem;
}


.content{
	padding-bottom: 1rem;
}

.fb-share-button.fb_iframe_widget{
	margin-top: -4px;
}

.twitter-share-button.twitter-share-button-rendered.twitter-tweet-button{
	margin: 0 .2rem;
}