html, body, .main {
	height: 100%;
}
body {
	background: #eee;
}
*, input, button, textarea {
	box-sizing: border-box;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	margin: 0;
	padding: 0;
	font-size: 1rem;
	color: #666;
	font-weight: normal;
	line-height: normal;
}
header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	background-color: #AAA;
	padding: .5rem;
}
header * {
	color: #fff;
}
.if {
	display: flex;
	flex-direction: column;
}
.if iframe {
	width: 100%;
	border: none;
	height: calc(100vh - 40px);
}
